<%- include('../partials/header.ejs') %>

    <div class="main-list">
      <h2 class="new-title">New Fruit</h2>
      <form method="POST" action="/api/store" novalidate>
        <div class="form-input">
          <input type="text" name="fruitType" id="fruitType" placeholder="Fruit" required>
        </div>
        <div class="form-buttons">
          <a href="/fruits/list" class="btn-primary btn-cancel">Cancel</a>
          <button type="submit" id="boton" class="btn-primary">Save</button>
        </div>
      </form>
    </div>

    <!-- ================================================== -->
    <script>
      const $boton = document.getElementById('boton');

      boton.addEventListener('click', async (e) => {
        e.preventDefault();

        let fruitType = document.getElementById('fruitType').value;

        const data = await store(fruitType);
        if (data.status === 200) {
          alert(`${data.msg}: ${data.type}`)
          window.location.href = '/fruits/list';
        } else {
          alert(data.error[0].msg)
        }
      })

      const store = async (fruitType) => {
        try {
          const request = await fetch('http://localhost:3000/fruits/store',{
            method:"POST",
            body: JSON.stringify({
              "type": fruitType,
            }),
            headers : {
              "Content-Type": "application/json",
            }
          })
          const datos = await request.json()
          return datos;
        } catch (error) {
          return error;
        }
      }
    </script>
  </body>
</html>
