<%- include('./partials/header.ejs') %>

    <div class="main">
      <div class="web-description">
        <h1>Web Description</h1>
        <p>
          On this website you will find two lists, one of users and the other of fruits, where in each of them you can create, delete or update their elements. 
        </p>
        <p>
          This is also kwown as a 
          <a href="https://es.wikipedia.org/wiki/CRUD" target="_blank"><strong>CRUD</strong></a>
          Website.
        </p>
        <hr>
        <p>Designed by Pablo Sgreccia.</p>
        <p>Check the full code on my <a href="https://github.com/PabloSgreccia/TP_ABM_L2" target="_blank">GitHub</a>.</p>
        <p>Likes: <span id="likes-counter"><%= likeCounter %></span></p>
        <button id="like"><span class="material-symbols-outlined" id="like-span">thumb_up</span>Like</button>
      </div>
      
      <div class="crud-try">
        <h2>Lets try it!</h2>
        <div class="crud-buttons">
          <a href="users/list">Users CRUD</a>
          <a href="fruits/list">Fruits CRUD</a>
        </div>
      </div>
    </div>

    <!-- ================================================== -->

    <script>
      const $like = document.getElementById('like');
      const $likeCounter = document.getElementById('likes-counter');

      $like.addEventListener('click', async (e) => {
        e.preventDefault();
        const data = await updateCounter(parseInt($likeCounter.textContent, 10) + 1);
        if (data.status = 201) {
          $likeCounter.textContent = parseInt($likeCounter.textContent, 10) + 1
        } else{
          alert(data.error[0].msg)
        }

      });

      const updateCounter = async (counterValue) => {
        try {
          const request = await fetch('http://localhost:3000/counter/update', {
            method:"PATCH",
            body: JSON.stringify({
              "value": counterValue,
            }),
            headers : {
              "Content-Type": "application/json",
            }
          })
          const datos = await request.json()
          return datos;
        } catch (error) {
          return error;
        }
      }

    </script>
  </body>
</html>
